/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Container Styles */
#container {
  height: 350px;
  border: 2px solid red;
  padding: 20px;
}

#container h1 {
  text-align: center;
  background-color: bisque;
}
/* Content Styles */
.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.left {
  height: 200px;
  background-color: bisque;
  margin-right: 20px;
}

.right img {
  height: 200px;
}

/* Feature Styles */
#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  border: 2px solid green;
}

.feature {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  border: 1px solid green;
  text-align: center;
  margin: 10px;
  margin-bottom: 55px; /* This lowers the margin to fit h4's feature */
}

.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This property ensures the image covers the entire space */
}

.feature h4 {
  border: 1px black solid;
  background-color: bisque;
}

/* Contact Section Styles */
#contact {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.contact-details {
  background-color: bisque;
  width: 300px;
  padding: 10px;
  border: 1px grey solid;
  margin-left: 50px;
}

.contact-form {
  background-color: bisque;
  padding: 10px;
  margin-right: 50px;
  border: 1px solid;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.social img {
  margin-right: 10px;
}

/* Media Queries for Responsive Layout */
@media (max-width: 768px) {
  body {
    background-image: url(https://img.freepik.com/free-photo/vertical-shot-patterns-sands-desert_181624-29789.jpg?w=740&t=st=1698232764~exp=1698233364~hmac=5edf4e1afb45af3a46240c2d731e2bbf88938f90dbb551edff8e7a2918b28c2d);
  }
  
  /* Header Adjustments */
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  nav {
    text-align: center;
  }

  nav li {
    margin: 10px;
  }

  /* Container Adjustments */
  #container {
    text-align: center;
    height: auto; /*
    background-image: url(https://img.freepik.com/free-photo/still-life-with-cozy-variety-yarn-knitting_169016-5806.jpg?w=740&t=st=1698232606~exp=1698233206~hmac=e147b620aab33e15cb447120c7fb8a7ce0a15840e2eba83308c2adb841a2b286);
    */
    background-repeat: no-repeat;
    background-position: center;
  }

  .content {
    flex-direction: column;
    flex-flow: column-reverse; /* This makes .left appear above h3 heading */
  }

  .left {
    margin: 10px 40px 10px 40px;
    border: 2px red solid;
    height: auto;
  }


  /* Feature Adjustments */
  #features {
    display: flex;
    justify-content: center;
    background-image: url(https://previews.123rf.com/images/mholka/mholka1201/mholka120100146/12434308-knitted-wool-background.jpg);
    background-repeat: no-repeat;


  }

  .feature {
    margin-bottom: 55px;
    width: 50%;
  }

  /* Contact Section Adjustments */
  #contact {
    margin: auto;
    flex-direction: column;
    border: 2px red solid;
    background-image: url(https://img.freepik.com/free-photo/wooden-floor-background_53876-88628.jpg?w=740&t=st=1698232140~exp=1698232740~hmac=9ff5f0f2a7e5f560f09c67f66a9e596996b964f6f8306f0080c0ed164b964328);


  }

  .contact-details {
    width: auto;
    height: auto;
    margin: 15%;
  }

  .contact-form {
    width: auto;
    height: auto;
    margin: 15%;
  }

  .contact-details h2 {
    text-align: center;
  }

  .contact-form h2 {
    text-align: center;
  }

  #name, #email {
    width: 66%;
  }

  #submit-btn {
    float: inline-end;
    margin-top: -30%; /* This makes button float right inline with email */
    width: 20%;
    height: 50px; 
    
  }

}

@media (max-width: 715px) {

  #contact {
    margin: auto;
    padding: 10px;
  }

  .contact-details {
    width: 60%
  }

  .contact-form {
    display: flex;
    width: fit-content;
  }

  #submit-btn {
    float: inherit;
  }

}